In [1]:
import numpy as np
import pandas as pd

import requests
import io


url = "https://raw.githubusercontent.com/uzay00/KaVe-Egitim/master/ARGE/Sorular/1-İseAlımRobotu/data.csv"
s = requests.get(url).content

data = pd.read_csv(io.StringIO(s.decode('utf-8')))
data

          age  algorithm       gpa    social  y
0    3.576113   3.728920  0.930603  4.438372  1
1    1.829891   4.393183  3.137649  4.831307  1
2    3.981593   4.050717  3.886304  4.865860  1
3    1.734623   4.605488  2.605315  3.663224  1
4    2.759050   4.288383  1.894925  3.238931  1
..        ...        ...       ...       ... ..
995  0.756427   0.931875  2.769794  0.218749  0
996  3.344518   1.182757  2.696908  0.735196  0
997  1.812786   1.081876  2.940970  1.076683  0
998  2.316372   2.211849  4.594402  0.614308  0
999  1.845348   1.809162  3.783898  0.629247  0

[1000 rows x 5 columns]

In [2]:
X = data.values[:, :-1]
y = data.values[:, -1]

In [3]:
A = np.array([[0,0,0,0],
              [4,4,4,4],
              [5,5,5,5]
              ])

In [4]:
X.shape, A.shape

((1000, 4), (3, 4))

In [5]:
X = X.reshape(1,*X.shape)
A = A.reshape(A.shape[0], 1, -1)

In [6]:
X.shape, A.shape

((1, 1000, 4), (3, 1, 4))

![KNN-MultiDimensional.pdf](resimler/KNN-MultiDimensional.pdf)

In [7]:
D = X - A
D2 = D**2

In [8]:
D2.shape

(3, 1000, 4)

In [9]:
M = D2.sum(axis = 2)
M.shape

(3, 1000)

In [10]:
S = M.argsort(axis = 1)
S.shape

(3, 1000)

In [11]:
k = 5
R = y[S[:,:k]]
R

array([[0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [12]:
R.mean(axis = 1) > 0.5

array([False,  True,  True])

# Write a Function

In [13]:
def KNN(X, y, A, k):
    X = X.reshape(1,*X.shape)
    A = A.reshape(A.shape[0], 1, -1)
    D = X - A
    D2 = D**2
    M = D2.sum(axis = 2)
    S = M.argsort(axis = 1)
    R = y[S[:,:k]]
    return R.mean(axis = 1) > 0.5

In [19]:
X = data.values[:, :-1]
y = data.values[:, -1]

A = np.array([[0,0,0,0],
              [4,4,4,4],
              [5,5,5,5]
              ])

In [15]:
KNN(X, y, A, k)

array([False,  True,  True])

In [16]:
A = np.array([[0,0,0,0]])
KNN(X, y, A, k)

array([False])

In [21]:
A = np.array([0,0,0,0])
KNN(X, y, A, k)

array([False, False, False, False])

In [22]:
A.shape

(4,)